/*-------------------------------

	POPUP.CSS

-------------------------------*/

.popup_back {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1080;
}

.popup_cont {
	position: fixed;
	z-index: 1100;
}

.preloader {
	z-index: 1110;
}

/*---------------------

	EDIT BELOW

*/

.popup_close {
	color: #343333;
	cursor: pointer;
    background: #fff;
	position: absolute;
	padding: 0 5px;
	right: 10px;
	top: 10px;
}

@media only screen and (max-width: 768px) {
    .popup_close {
        color: #fff;
        background: #343333;
    }
}

.popup_back {
	cursor: pointer;
	background-color: #222;
}

div.popup {
	background: #fff;
}

.preloader {
	left: 50%;
	margin: -10px 0 0 -25px;
	position: fixed;
	top: 50%;
}